/* stylesheet of generic parts, like navbar, footer, scrollbar, etc... */





*{
    padding: 0;
    margin: 0;
}

/* scorrimento sotto le scritte figo */
.scorrimentofigo {
    position: relative;
    text-decoration: none;
  }
  .scorrimentofigo:after {
    content: "";
    height: 1px;
    bottom: -4px;
    position: absolute;
    left: 5%;
    right: 95%;
    background: #eeeeee;
    transition: right 0.25s ease-in-out;
  }
  .scorrimentofigo:hover:after {
    right: 5%;
  }

/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 1rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
}

.nav div.logo a:hover {
    color: #eeeeee;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 2.5rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 1.5rem;
}

.nav div.main_list ul li a:hover {
    color: #eeeeee;
}


/* Home section */



.navTrigger {
    display: none;
}

.nav {
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media query section */

@media screen and (min-width: 992px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:992px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}



    .flex-centro-100100{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    }

    .flex-centro-100vh{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-shadow: 0px 0px 20px white;
    }

  

  .custom-footer-1{
    background-image: linear-gradient(to bottom, #019833, #005d04);
  }
  
  .custom-version-bar{
    background-image: linear-gradient(to left, #53ff28, #32c71f, #53ff28);
  }

  .custom-dark-footer-1{
    background-image: linear-gradient(to bottom, #980166, #5d0058) !important;
  }
  .custom-dark-version-bar{
    background-image: linear-gradient(to left, #d428ff, #b31fc7, #d428ff) !important;
  }


  /* scrollbar */
  ::-webkit-scrollbar{
      width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #666666; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: #111; 
  }
  .borderradius0{
      border-radius: 0;
  }
  
  /*
  #progressbar{
      position: fixed;
      top: 0;
      right: 0;
      width: 10px;
      border-radius: 10px;
      background-color: #666666;
      z-index: 9;
  }
  */


.dark-mode{
    background-color: black !important;
    color: white !important;
}

.dark-mode-btn {
    box-shadow: inset 0 0 0 4px #fff;
    color: #fff;
    transition: color 0.25s 0.0833333333s;
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    padding: 1em 1em;
}
.dark-mode-btn::before, .dark-mode-btn::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}
.dark-mode-btn::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}
.dark-mode-btn::after {
    border-top-width: 4px;
    border-right-width: 4px;
}
.dark-mode-btn:hover {
    color: #019833;
}
.dark-mode-btn:hover::before, .dark-mode-btn:hover::after {
    border-color: #019833;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}
.dark-mode-btn:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}
.dark-mode-btn:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}
.dark-mode-btn:focus{
    outline: none;
}

.btn{
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    text-align: center;
}